.nav-list {
  @include clear-list;

  position: absolute;
  width: 320px;
  left: -20px;
  top: 100%;
}

.nav-list__item {
  display: flex;
  justify-content: center;
  min-height: 57px;
  text-align: center;
  border-top: 1px solid $base-secondary;

  &:last-child {
    border-bottom: 1px solid $base-secondary;
  }
}

.nav-list__link {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
    color: $base-primary;
  }

}
