.page {
  height: 100%;
}

.page__body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  background-color: $base-white;
  color: $base-black;
}

.page__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding-left: 40px;
    padding-right: 40px;
  }
}
