.page {
  height: 100%;
}

.page__body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  background-color: $base-white;
  color: $base-black;
}

.page__wrapper {
  background-color: $base-grey;
}
