.catalog {
  background-color: $lighest-grey;
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet) {
    padding-top: 80px;
    padding-top: 90px;
  }

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-top: 120px;
  }
}

.catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $desktop) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.catalog__inner-wrapper {

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 318px 1011px;
    gap: 30px;
  }
}

.catalog__badge {
  @include badge;
  margin-bottom: 4px;
}

.catalog__title {
  @include h2-mobile;

  @media (min-width: $tablet) {
    @include h2-tablet;
  }
}
