.catalog-cards {
  padding-top: 36px;
  padding-bottom: 44px;

  @media (min-width: $tablet) {
    padding-top: 44px;
    padding-bottom: 90px;
  }
}

.catalog-cards__label {
  @include label;
  max-width: 280px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.catalog-cards__select {
  @include label;
  color: $base-primary;
  min-width: 145px;
  padding: 4px 0px 4px 10px;
  text-transform: lowercase;
  background-image: url("/images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
