.catalog-list {
  @include clear-list;

  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 20px 0 40px;

  @media (min-width: $tablet) {
    padding: 26px 0 71px;
    grid-template-columns: 1fr 1fr;
    gap: 31px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog-list__item {
  padding: 36px 20px 20px;
  text-align: left;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet) {
    padding: 49px 30px 30px;
  }

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.catalog-list__img {
  margin: 0 auto 24px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.catalog-list__title {
  @include h3-mobile;
  margin-bottom: 4px;

  @media (min-width: $tablet) {
    @include h2-mobile;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
  }
}

.catalog-list__description {
  @include features-subtitle-mobile;
  text-align: left;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.catalog-list__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-list__price {
  @include price;
}

.catalog-list__bitton-img {
  fill: $base-white;
}

.catalog-list__button {
  display: flex;
  gap: 6px;
  padding: 10px 22px;
  background-color: $base-primary;
  border-radius: 4px;
  color: $base-white;
  letter-spacing: 1px;
  transition: background-color 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  @media (min-width: $tablet) {
    gap: 8px;
  }
}
