.catalog {
  background-color: $lighest-grey;
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center
}

.catalog__badge {
  @include badge;
  margin-bottom: 4px;
}

.catalog__title {
  @include h2-mobile;
}
