.catalog-cards {
  padding-top: 36px;

  @media (min-width: $tablet) {
    padding-top: 44px;
    padding-bottom: 90px;
  }
}

.catalog-cards__sorting {
  display: flex;
  justify-content: flex-end;
}

.catalog-cards__label {
  @include label;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.catalog-cards__select {
  @include label;
  color: $base-primary;
  letter-spacing: 1px;
  padding: 4px 30px 4px 10px;
  text-transform: lowercase;
  background-image: url("/images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  transition:
    background-color 0.25s ease-in-out,
    background-image 0.25s ease-in-out;

  &:hover {
    background-color: $base-secondary;
  }

  &:focus {
    background-color: $base-white;
    background-image: url("/images/arrow-select-up.svg");
  }
}
