.features__wrapper {
  padding: 0 20px;
  text-align: center;

  @media (min-width: $desktop) {
    padding: 0 40px;
  }
}

.features {
  padding-top: 50px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding-top: 248px;
    padding-bottom: 98px;
  }

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__badge {
  @include badge;
  display: block;
  margin-bottom: 4px;
}

.features__title {
  @include h2-mobile;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    @include h2-tablet;
    letter-spacing: 2px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 78px;
  }
}

.features__list {
  @include clear-list;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 27px;
  }

  @media (min-width: $desktop) {
    gap: 30px;
  }
}

.features__item {
  position: relative;
  padding-top: 66px;
  padding-bottom: 32px;


  &::before {
    content: "";
    position: absolute;
    height: 56px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      left: -15px;
      transform: translateX(50%);
    }

    @media (min-width: $desktop) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--speed::before {
    width: 50px;
    background-image: url("/images/clock-icon.svg");
  }

  &--convenience::before {
    width: 52px;
    background-image: url("/images/pocket-icon.svg");
  }

  &--cheerfulness::before {
    width: 42px;
    background-image: url("/images/flash-icon.svg");
  }

  &--eco::before {
    width: 46px;
    background-image: url("/images/leaf-icon.svg");
  }

  @media (min-width: $tablet) {
    flex-basis: 47%;
    padding: 0 0 0 83px;
  }

  @media (min-width: $desktop) {
    padding: 76px 0 0;
    max-width: 317px;
  }
}

.features__inner-title {
  @include h3-mobile;
  margin-bottom: 4px;

  @media (min-width: $tablet) {
    @include h3-tablet;
    margin-bottom: 10px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.features__subtitle {
  @include features-subtitle-mobile;

  @media (min-width: $tablet) {
    @include features-subtitle-tablet;
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;
  }
}
