.filter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 4px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.filter__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: left;

  @media (min-width: $tablet) {
    flex-basis: 222px;
  }
}

.filter__legend {
  @include label;
  margin-bottom: 20px;
}

.filter__span {
  @include features-subtitle-tablet;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
  }
}

.filter__button {
  @include features-subtitle-tablet; //возможно лучше не использовать миксин тут, тк название не подходит
  padding: 8px 20px;
  border-radius: 4px;
}

.filter__button--submit {
  color: $base-white;
  background-color: $base-primary;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
    cursor: default;
  }
}

.filter__button--reset {
  color: $base-primary;
  background-color: $base-white;
  transition: color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    color: $base-white;
    background-color: $primary-lighter;
  }

  &:active {
    color: $base-white;
    background-color: $primary-darker;
  }

  &:disabled {
    color: $base-white;
    background-color: $light-grey;
    cursor: default;
  }
}

.filter__label {
  position: relative;
  padding-left: 36px;
  cursor: pointer; //отключить на disabled
}

.filter__input-new-radio {

  &::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background-color: $base-white;
    border-radius: 50%;
    border: 2px solid $base-grey;
    transition: border 0.25s ease-in-out;
  }

  &::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
  }
}

.filter__input--radio:hover+.filter__input-new-radio::before,
.filter__input--radio:focus+.filter__input-new-radio::before {
  border: 2px solid $primary-lighter;
}

.filter__input--radio:hover+.filter__input-new-radio::after,
.filter__input--radio:focus+.filter__input-new-radio::after {
  background-color: $primary-opacity;
}

.filter__input--radio:checked + .filter__input-new-radio:before {
  border: 2px solid $base-primary;
}

.filter__input--radio:checked + .filter__input-new-radio:after {
  background-color: $base-primary;
}

.filter__input--radio:disabled+.filter__input-new-radio::before {
  border: 2px solid $light-grey;
  background-color: $lighest-grey;
}

.filter__input--radio:disabled + .filter__input-new-radio+.filter__span {
  color: $base-grey;
}

.filter__input--radio:disabled:checked + .filter__input-new-radio+.filter__span {
  color: $base-grey;
}

.filter__input--radio:disabled:checked+.filter__input-new-radio::before {
  border: 2px solid $light-grey;
  background-color: $lighest-grey;
}

.filter__input--radio:disabled:checked+.filter__input-new-radio::after {
  background-color: $light-grey;
}

.filter__label--country {
  padding-left: 52px;
}

.filter__input-new-checkbox {

  &::before {
    position: absolute;
    content: '';
    width: 42px;
    height: 24px;
    top: 0;
    left: 0;
    background-color: $base-grey;
    border: 2px solid $base-grey;
    border-radius: 12px;
    transition: background-color 0.25s ease-in-out,
                border 0.25s ease-in-out;
  }

  &::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    left: 3px;
    background-color: $base-white;
    border-radius: 12px;
    transform: translateY(-50%);
    transition: left 0.25s ease-in-out;
  }
}

.filter__input--checkbox:hover+.filter__input-new-checkbox::before,
.filter__input--checkbox:focus+.filter__input-new-checkbox::before {
  background-color: $primary-opacity;
  border: 2px solid $primary-lighter;
}

.filter__input--checkbox:checked+.filter__input-new-checkbox::before {
  background-color: $base-primary;
  border: 2px solid $base-primary;
}

.filter__input--checkbox:checked+.filter__input-new-checkbox::after {
  left: 19px;
}

.filter__input--checkbox:disabled+.filter__input-new-checkbox::before {
  background-color: $light-grey;
  border: 2px solid $light-grey;
}

.filter__input--checkbox:disabled+.filter__input-new-checkbox::after {
  background-color: $lighest-grey;
}

.filter__input--checkbox:disabled:checked+.filter__input-new-checkbox::before {
  background-color: $light-grey;
  border: 2px solid $light-grey;
}

.filter__input--checkbox:disabled:checked+.filter__input-new-checkbox::after {
  background-color: $base-grey;
}

.filter__input--checkbox:disabled+.filter__input-new-checkbox+.filter__span {
  color: $base-grey;
}

.filter__label+.filter__input:disabled {
  cursor: default;
}
