/* здесь используйте глобальные переменные */
//ширина экрана
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

// базовые цвета
$base-white: #ffffff;
$base-black: #333333;
$base-grey: #bdbdbd;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$bg-espresso: #e5e6e8;

// дополнительные цвета
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

// фоновые цвета
$lighest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
