.footer-development {
  display: flex;
  justify-content: center;
  padding: 20px 0 30px;

  grid-area: dev;

  @media (min-width: $tablet) {
    padding: 0 0 40px;
  }
}

.footer-development__img {
  fill: $base-grey;
  transition: fill 0.25s ease-in-out;
}

.footer-development__link {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  color: $base-grey;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  transition: color 0.25s ease-in-out;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    color: $primary-darker;
  }

  &:hover .footer-development__img,
  &:focus .footer-development__img {
    fill: $base-primary;
  }

  &:active .footer-development__img {
    fill: $primary-darker;
  }
}
