.footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    // width: $tablet;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "main main main"
      "e-shop media contacts"
      "dev dev dev";
    column-gap: 30px;
    row-gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "main e-shop media contacts"
      "dev dev dev dev";
    column-gap: 30px;
    row-gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.footer__section {
  padding: 20px 0;

  @media (max-width: $tablet) {
    position: relative;

    &:not(:last-child)::after {
      position: absolute;
      content: "";
      left: -20px;
      right: -20px;
      bottom: 0;
      height: 1px;
      background-color: $base-secondary;
    }
  }
}
